$blue: #228be6;

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: $blue;

  padding-left: 1rem;
  padding-right: 1rem;

  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }

  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.75rem;
  }

  &:hover {
    background: lighten($color: $blue, $amount: 10%);
  }
  &:active {
    background: darken($color: $blue, $amount: 10%);
  }
  & + & {
    margin-left: 1rem;
  }
}
